#root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 2rem;
   text-align: center;
}

/* .ResumeManager,
.ResumeEditor {
   border: solid black 2px;
} */

.ResumeEditor {
   display: flex;
   height: 600px;
}
