.App {
   display: flex;
   justify-items: stretch;
   flex-direction: row;
   margin: 0 auto;
   padding: 2rem;
   background-color: blanchedalmond;
}

/* .ResumeManager,
.ResumeEditor {
   border: solid black 2px;
} */

.ResumeEditor {
   display: flex;
   height: 600px;
}
